.btn {
  background-color: var(--dark-blue);
  color: var(--white-color);
  padding-block: 9px;
  padding-inline: 24px;
  border-radius: 28px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  border: none;
}

.btn-primary {
  background-color: var(--dark-blue);
}

.btn-primary:hover {
  background-color: var(--pale-purple);
}

.btn-primary-gradient {
  background-image: var(--primary-gradient);
}

.btn-primary-gradient:hover {
  opacity: 0.7;
}

.btn-secondary-gradient {
  background-image: var(--secondary-gradient);
}

.btn-secondary-gradient:hover {
  opacity: 0.7;
}
